svg {
    margin-right: 30px;
}

.blue-custom {
    color: #369FF9;
}

.bluish-white {
    background-color: #EEF3FA;
}

.greyish-blue {
    background-color: #3479B5;
}

.greyish-blue:hover {
    color: #3479B5 !important;
    border: 1px solid #3479B5 !important;
    transition: all 400ms;
}